:root {
  --brand-color: darkred;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: Helvetica Neue, sans-serif;
  color: var(--brand-color);
  margin: 0;
  padding: 0;
}

.form {
  padding: .5em;
}

.trafik-info {
  list-style: none;
  display: inline-block;
  vertical-align: top;
}

.btn {
  border: none;
  background: var(--brand-color);
  color: white;
  display: block;
  font: inherit;
  font-weight: bold;
  margin-top: 1em;
  padding: 0.5em 1em;
  position: relative;
  width: 100%;
}

.btn[disabled] {
  color: darkgoldenrod;
  border-color: #500;
}

.btn:focus {
  outline-color: var(--brand-color);
}

.btn .fa {
  position: absolute;
  top: 0.62em;
  right: 1em;
}

.location-input {
  --left-offset: 60px;
  position: relative;
  line-height: 2em;
  margin-bottom: 0.5em;
}

.location-input .nearby-stations {
  list-style-type: none;
  padding: 0;
}

.location-input.with-label .nearby-stations {
  margin: 0 0 0 var(--left-offset);
  font-size: small;
}

.location-input .nearby-stations li { display: inline-block; }
.location-input .nearby-stations .nearby-station {
  background: var(--brand-color);
  color: white;
  display: block;
  line-height: 1.5em;
  margin-left: 5px;
  padding: 0 .5em;
  text-decoration: none;
}

.location-input label {
  display: block;
  position: relative;
}

.location-input input {
  border: 1px solid whitesmoke;
  font: inherit;
  left: 0;
  padding: 0 0.5em;
  position: absolute;
  width: 100%;
}

.location-input .fa {
  position: absolute;
  right: .5em;
  line-height: 2em;
}

.location-input .location-input__suggestions {
  background: var(--brand-color);
  font-size: small;
  list-style: none;
  width: 100%;
  padding: 0;
  position: absolute;
  top: 1.5em;
  left: 0;
  z-index: 10;
}

.location-input.with-label input,
.location-input.with-label .location-input__suggestions {
  left: var(--left-offset);
  width: calc(100% - var(--left-offset));
}
.location-input input:focus {
  border: 1px solid gray;
  outline: none;
}

.location-input .location-input__suggestions li:first-child:before {
  --arrow-size: 5px;
  border-left: var(--arrow-size) solid transparent;
  border-right: var(--arrow-size) solid transparent;
  border-bottom: var(--arrow-size) solid var(--brand-color);
  content: '';
  display: block;
  position: absolute;
  top: -5px;
  left: 0.5em;
  width: 0;
  height: 0;
}

.location-input .location-input__suggestions a {
  color: white;
  display: block;
  padding: 0.25em 0.5em;
  text-decoration: none;
}

.location-input .location-input__suggestions a:hover,
.location-input .location-input__suggestions a:focus {
  background: whitesmoke;
  color: var(--brand-color);
  outline: none;
}

.trips, .trip {
  list-style: none;
  padding-left: 0;
}

.trip {
  margin-left: 0.5em;
  margin-bottom: 1em;
}

.trip__dest {
  line-height: 1.5em;
}

.destination-board {
  border: 0;
  border-collapse: collapse;
  width: 100%;
}

.destination-board thead {
  background: #f0f0f0;
  color: #505050;
}

.destination-board th {
  font-weight: normal;
  text-align: left;
}

.destination-board tbody tr {
  background: #212830;
  color: #eadb87;
}

.destination-board tbody tr:nth-child(even) {
  background: #4f6e9f;
}

.destination-board td,
.destination-board th {
  padding: .5em;
}

.destination-board .trip-dest {
  font-weight: 500;
}
.destination-board .trip-time {}
.destination-board .trip-time.is-late {
  color: red;
}
.destination-board .trip-track {
  text-align: center;
}

.BUS:before {
  content: '🚌';
}
.TRAM:before {
  content: '🚋';
}

.REG:before,
.VAS:before,
.TRAIN:before {
  content: '🚅';
}
.WALK:before {
  content: '🚶';
}
.SHIP:before {
  content: '🛳';
}
.FERRY:before {
  content: '⛴';
}

.top-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.digital-clock {
  color: gray;
  font-family: monospace;
  font-weight: bold;
  flex: 1;
  padding: .5em 1em;
  text-align: right;
}

.tabs {
  flex: 2;
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.tab {
  border: 1px solid gray;
  border-right: none;
  color: dimgray;
  cursor: pointer;
  flex: 1;
  text-align: center;
  padding: .5em 1em;
}
.tab:last-child {
  border: 1px solid gray;
}
.tab.active {
  border: 1px solid var(--brand-color);
  border-bottom: none;
  color: var(--brand-color);
}
.tab.active + .tab{
  border-left: none;
}
