:root {
  --brand-color: darkred;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: Helvetica Neue, sans-serif;
  color: var(--brand-color);
  display: flex;
}

#app {
  display: inline-block;
  margin-right: 1em;
  min-width: 400px;
}

#trafiken {
  min-width: 500px;
}

.trafik-info {
  list-style: none;
  display: inline-block;
  vertical-align: top;
}

.btn {
  border: none;
  background: var(--brand-color);
  color: white;
  margin-top: 1em;
  min-width: 100px;
  padding: 0.5em 1em;
  position: relative;
}

.btn[disabled] {
  color: darkgoldenrod;
  border-color: #500;
}

.btn:focus {
  outline-color: var(--brand-color);
}

.btn .fa {
  position: absolute;
  top: 0.62em;
  right: 1em;
}

.location-input {
  --left-offset: 60px;
  --min-width: 220px;
  position: relative;
  line-height: 1.5em;
  margin-bottom: 0.5em;
}

.location-input label {
  font-size: smaller;
}

.location-input input {
  border: 1px solid whitesmoke;
  min-width: var(--min-width);
  padding: 0.5em;
  position: absolute;
  left: 0;
}
.location-input.with-label input {
  left: var(--left-offset);
}
.location-input input:focus {
  border: 1px solid gray;
  outline: none;
}

.location-input .location-input__suggestions {
  background: var(--brand-color);
  font-size: small;
  list-style: none;
  min-width: var(--min-width);
  padding: 0;
  position: absolute;
  top: 1.5em;
  left: 0;
  z-index: 10;
}
.location-input.with-label .location-input__suggestions {
  left: var(--left-offset);
}
.location-input .location-input__suggestions li:first-child:before {
  --arrow-size: 5px;
  border-left: var(--arrow-size) solid transparent;
  border-right: var(--arrow-size) solid transparent;
  border-bottom: var(--arrow-size) solid var(--brand-color);
  content: '';
  display: block;
  position: absolute;
  top: -5px;
  left: 0.5em;
  width: 0;
  height: 0;
}

.location-input .location-input__suggestions a {
  color: white;
  display: block;
  padding: 0.25em 0.5em;
  text-decoration: none;
}

.location-input .location-input__suggestions a:hover,
.location-input .location-input__suggestions a:focus {
  background: whitesmoke;
  color: var(--brand-color);
  outline: none;
}

.trips, .trip {
  list-style: none;
  padding-left: 0;
}

.trip {
  margin-left: 0.5em;
  margin-bottom: 1em;
}

.trip__dest {
  line-height: 1.5em;
}

.destination-board {
  border: 0;
  border-collapse: collapse;
}

.destination-board thead {
  background: #f0f0f0;
  color: #505050;
}

.destination-board th {
  font-weight: normal;
  text-align: left;
}

.destination-board tbody tr {
  background: #212830;
  color: #eadb87;
}

.destination-board tbody tr:nth-child(even) {
  background: #4f6e9f;
}

.destination-board td,
.destination-board th {
  padding: .5em;
}

.destination-board .trip-dest {
  font-weight: 500;
}
.destination-board .trip-time {}
.destination-board .trip-track {
  text-align: center;
}

.BUS:before {
  content: '🚌';
}
.TRAM:before {
  content: '🚋';
}

.REG:before,
.VAS:before,
.TRAIN:before {
  content: '🚅';
}
.WALK:before {
  content: '🚶';
}
.SHIP:before {
  content: '🛳';
}
.FERRY:before {
  content: '⛴';
}
