:root {
  --brand-color: rgb(0, 157, 219);
  --brand-text-color: white;
  --brand-text-color-dim: rgba(255,255,255,.5);
  --dark-text-color: dimgray;
}

html {
  box-sizing: border-box;
  height: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: system-ui, Helvetica Neue, sans-serif;
  color: var(--brand-color);
  height: 100%;
  margin: 0;
  padding: 0;
}

#app {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.container {
  height: calc(100% - 36px);
}

.trafik-info {
  list-style: none;
  display: inline-block;
  vertical-align: top;
}

.btn {
  border: none;
  background: var(--brand-color);
  color: var(--brand-text-color);
  display: block;
  font: inherit;
  font-weight: bold;
  margin-top: 1em;
  padding: 0.5em 1em;
  position: relative;
  width: 100%;
}

.btn[disabled] {
  color: var(--brand-text-color-dim);
  border-color: #500;
}

.btn:focus {
  outline-color: var(--brand-color);
}

.btn .fa {
  position: absolute;
  top: 0.62em;
  right: 1em;
}

.top-nav {
  display: flex;
  justify-content: space-between;
  flex-shrink: 0;
}

.tabs {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.tab {
  background-color: whitesmoke;
  border: 1px solid gray;
  border-right: none;
  color: var(--dark-text-color);
  cursor: pointer;
  flex-grow: 1;
  text-align: center;
  padding: .5em 1em;
}
.tab:last-child {
  border: 1px solid gray;
}
.tab--desktop {
  display: none;
}
.tab.active {
  background-color: white;
  border: 1px solid var(--brand-color);
  border-bottom: none;
  color: var(--brand-color);
}
.tab.active + .tab{
  border-left: none;
}

@media screen and (min-width: 650px) {
  .tab--mobile { display: none; }
  .tab--desktop { display: unset; }
}

.digital-clock {
  background: var(--brand-color);
  border-bottom: 1px solid gray;
  color: var(--brand-text-color-dim);
  flex: 1;
  display: none;
  align-items: center;
  justify-content: flex-end;
  font-family: monospace;
  font-size: 1.2em;
  font-weight: bold;
  padding: .5em 1em;
}

.location-input {
  --left-offset: 80px;
  position: relative;
  line-height: 2em;
  margin: .5em 0;
}

.location-input .nearby-stations {
  list-style-type: none;
  padding: 0;
}

.location-input.with-label .nearby-stations {
  margin: 0 0 0 var(--left-offset);
  font-size: small;
}

.location-input .nearby-stations li { display: inline-block; }
.location-input .nearby-stations .nearby-station {
  background: var(--brand-color);
  color: var(--brand-text-color);
  display: block;
  line-height: 1.5em;
  margin-left: 5px;
  padding: 0 .5em;
  text-decoration: none;
}

.location-input label {
  display: block;
  position: relative;
}

.location-input input {
  -webkit-appearance: none;
  border: 1px solid whitesmoke;
  font: inherit;
  left: 0;
  padding: 0 0.5em;
  position: absolute;
  width: 100%;
}

.location-input .fa {
  position: absolute;
  line-height: 2.2em;
  right: 1.7em;
}
.location-input .location-input__suggestions .fa {
  position: initial;
  margin-left: .5em;
}

.location-input .location-input__suggestions {
  background: var(--brand-color);
  list-style: none;
  font-size: 0.875em;
  padding: 0;
  position: absolute;
  top: 1.5em;
  left: 0;
  width: 100%;
  z-index: 10;
}

.location-input.with-label input,
.location-input.with-label .location-input__suggestions {
  left: var(--left-offset);
  width: calc(100% - var(--left-offset));
}
.location-input input:focus {
  border: 1px solid gray;
  outline: none;
}

.location-input .location-input__suggestions li:first-child:before {
  --arrow-size: 5px;
  border-left: var(--arrow-size) solid transparent;
  border-right: var(--arrow-size) solid transparent;
  border-bottom: var(--arrow-size) solid var(--brand-color);
  content: '';
  display: block;
  position: absolute;
  top: -5px;
  left: 0.5em;
  width: 0;
  height: 0;
}

.location-input .location-input__suggestions button {
  -webkit-appearance: none;
  background: transparent;
  border: 0;
  color: white;
  display: block;
  font-size: 1em;
  padding: 0.5em 0.75em;
  text-align: left;
  text-decoration: none;
  width: 100%;
}

.location-input .location-input__suggestion:first-child button {
  padding-top: .75em;
}
.location-input .location-input__suggestion:last-child button {
  padding-bottom: .75em;
}

.location-input .location-input__suggestions button:hover,
.location-input .location-input__suggestions button:focus {
  background: whitesmoke;
  color: var(--brand-color);
  outline: none;
}

.trip__dest {
  line-height: 1.5em;
}
.trips-table {
  width: 100%;
}
.trips-table table {
  background-color: white;
  border: 0;
  border-collapse: collapse;
  color: rgb(0, 57, 77);
  width: 100%;
}
.trips-table thead,
.trips-table thead select {
  background-color: var(--brand-color);
  color: var(--brand-text-color);
}

.trips-table thead select {
  -webkit-appearance: none;
  font-size: 1em;
  border: 0;
}
.trips-table thead select:focus {
  outline: none;
}

.trips-table th {
  font-weight: normal;
  text-align: left;
}

.trips-table tbody tr:nth-child(even) {
  background: #EEE;
}

.trips-table td,
.trips-table th {
  padding: .5em;
}

.trips-table .trip-line {
  padding: .5em;
  text-align: center;
  width: 50px;
}

.trips-table .trip--cancelled .trip-dest-name {
  text-decoration: line-through;
}
.trips-table .trip-dest {}
.trips-table .trip-dest-name {
  font-weight: 500;
}
.trips-table .trip-dest-via {}
.trips-table .trip-time {
  width: 60px;
}
.trips-table .trip-time.is-late {
  color: var(--brand-color);
}
.trips-table .trip-track {
  text-align: center;
  width: 50px;
}

.station-info {}
.station-info__form {
  padding: .5em;
}
.station-info__trips-filter {
  display: flex;
  margin: 0 0 .5em;
  list-style-type: none;
  padding-left: 0;
}
.station-info__trips-filter li {
  margin-left: .5em;
}
.station-info__situations {
  background-color: var(--brand-color);
  color: var(--brand-text-color);
  line-height: 1.4em;
  margin: 0;
  padding: 1em 1.5em;
}

.map-component,
.map-component__map,
#map {
  height: 100%;
}
.map-component {
  position: relative;
}
.map-component__status {
  background-color: rgba(244,244,244,.7);
  border-radius: 2px;
  box-shadow: 0 0 0 2px rgba(0,0,0,.2);
  color: var(--dark-text-color);
  content: '';
  display: block;
  font-size: 11px;
  padding: .2em .5em;
  position: absolute;
  right: 10px;
  top: 10px;
  user-select: none;
  z-index: 9999;
}

@media screen and (min-width: 450px) {
  .digital-clock {
    display: flex;
  }
}

.information-page {
  height: 100%;
  padding: 1em;
  position: relative;
}
.information-page__edit-link {
  color: whitesmoke;
  font-size: smaller;
  position: absolute;
  bottom: 1em;
  left: 1em;
}
