<!DOCTYPE html>
<html lang="sv">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <meta name="theme-color" content="#8b0000">
  <link rel="manifest" href="manifest.json">
  <link rel="stylesheet" type="text/css" href="css/font-awesome.css">
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
  <title>Resmus - Rasmus reseplanerare</title>

  <script type="text/x-template" id="search-trip">
    <div class="search-trip">
      <div class="form">
        <p v-if="!initialized">
          Initierar... <i class="fa fa-spin fa-spinner"></i>
        </p>
        <location-input displayNearbyStops locationApi="RR" label="Från" :parentLoading="isLoading" :disabled="!initialized" @set-location="setFrom"></location-input>
        <location-input locationApi="RR" label="Till" :parentLoading="isLoading" :disabled="!initialized" @set-location="setDest"></location-input>
        <button class="btn" @click="findTrip" :disabled="!from || !dest">
          Sök
          <i class="fa fa-spin" :class="{ 'fa-spinner': isLoading }" aria-hidden="true"></i>
        </button>
      </div>
      <trips-list :trips="trips"></trips-list>
    </div>
  </script>

  <script type="text/x-template" id="station-info">
    <div class="station-info">
      <div class="form">
        <p v-if="!initialized">
          Initierar... <i class="fa fa-spin fa-spinner"></i>
        </p>
        <location-input locationApi="VT" displayNearbyStops label="Hållplats" :parentLoading="isLoading" :disabled="!initialized" @set-location="setFrom"></location-input>
      </div>
      <trips-table :arrivals="arrivals" :isLoading="isLoading" :trips="trips" :info="info" :from="location.name"></trips-table>
    </div>
  </script>

  <script type="text/x-template" id="location-input">
    <div class="location-input"
      :class="{ 'with-label': label }"
      @focus="showDropDown"
      @keyup.esc="hideDropDown">

      <label>
        {{label}}:
        <input v-model="searchText"
          @input="onInput"
          @focus="showDropDown"
          @blur="possiblyHideDropDown"
          @keyup.enter="selectFirstSuggestion"
          @keyup="handleKeyInput"
          type="search"
          placeholder=""
          :disabled="disabled">
        <i class="fa fa-spin" :class="{ 'fa-spinner': isLoading }" aria-hidden="true"></i>
      </label>

      <ul v-show="show" class="location-input__suggestions">
        <li class="location-input__suggestion" v-if="fetchingNearbyStops" @keyup="handleKeyInput">
          <button @click.prevent>
            Hämtar närliggande hållplatser
            <i class="fa fa-spinner fa-spin"></i>
          </button>
        </li>
        <li class="location-input__suggestion" v-if="suggestions.length === 0 && !searchText" v-for="station in nearbyStations" @keyup="handleKeyInput">
          <button @click.prevent="onSelect(station)" @keyup.space="onSelect(station)">{{ station.name }}</button>
        </li>
        <li class="location-input__suggestion" v-if="suggestions.length === 0 && searchText && !isFetching">
          <button @click.prevent>Inga resultat för söktermen</button>
        </li>
        <li class="location-input__suggestion" v-for="suggestion in suggestions" :key="suggestion.id" @keyup="handleKeyInput">
          <button @click.prevent="onSelect(suggestion)" @keyup.space="onSelect(suggestion)">{{ suggestion.name }}</button>
        </li>
      </ul>
    </div>
  </script>
</head>
<body>

  <div id="app">
    <div class="top-nav">
      <ul class="tabs">
        <li class="tab" :class="{ active: (tab === 2) }" @click="changeTab(2)">Avgångar (västtrafik)</li>
        <li class="tab" :class="{ active: (tab === 3) }" @click="changeTab(3)">Ankomster (västtrafik)</li>
        <li class="tab" :class="{ active: (tab === 4) }" @click="changeTab(4)">Information</li>
      </ul>
      <digital-clock></digital-clock>
    </div>
    <div class="container">
      <station-info v-if="tab === 2"></station-info>
      <station-info v-if="tab === 3" arrivals></station-info>
      <information-page v-if="tab === 4"></information-page>
    </div>
  </div>

  <script type="text/javascript" src="js/vendor/vue.js"></script>
  <script src="js/vendor/jquery-3.2.1.slim.min.js"></script>
  <script src="js/vendor/moment.js"></script>
  <!-- <script src="https://www.gstatic.com/firebasejs/5.3.0/firebase-app.js"></script> -->
  <!-- <script src="https://www.gstatic.com/firebasejs/5.3.0/firebase-auth.js"></script> -->
  <!-- <script src="js/firebase.js"></script> -->
  <!-- <script src="js/trafikMeddelanden.js"></script> -->
  <script src="js/vt.js"></script>
  <script src="js/sl.js"></script>
  <script src="js/tv.js"></script>
  <script src="js/resrobot.js"></script>
  <script>
/* global Vue, VT */
const positionPromise = getPosition()
  .then(({ coords: { latitude: lat, longitude: long }}) => ({ lat, long }));

Vue.component('digital-clock', {
  data() {
    return {
      hours: '',
      minutes: '',
      seconds: '',
    };
  },
  created() {
    this.updateDateTime();
    setInterval(this.updateDateTime, 1000);
  },
  methods: {
    updateDateTime() {
      const now = new Date();
      this.hours = String(now.getHours()).padStart(2, "0");
      this.minutes = String(now.getMinutes()).padStart(2, "0");
      this.seconds = String(now.getSeconds()).padStart(2, "0");
    }
  },
  template: `
    <div class="digital-clock">
      {{ hours }}:{{ minutes }}:{{ seconds }}
    </div>
  `
});

Vue.component('trips-table', {
  props: {
    trips: Array,
    isLoading: Boolean,
    info: {
      message: String,
      affectedLines: Array
    },
    from: String,
    arrivals: Boolean
  },
  data() {
    return {
      filter: {
        track: '',
        dest: ''
      }
    };
  },
  computed: {
    tracks() {
      const tracks = [].concat(this.trips).map(({ track }) => track);
      return Array.from(new Set(tracks))
        .sort(sortNumbersAndLetters);
    },
    destinations() {
      const destinations = [].concat(this.trips).map(({ direction, origin }) => direction || origin);
      return Array.from(new Set(destinations));
    },
    filteredTrips() {
      const { track, dest } = this.filter;
      const { affectedLines = [] } = this.info;
      return this.trips
        .map((trip) => ({
          ...trip,
          isAffected: affectedLines.includes(trip.sname)
        }))
        .filter((t) => (track ? t.track === track : true))
        .filter(({ direction, origin }) => (dest ? (direction === dest || origin === dest) : true));
    },
    message() {
      return this.info.message || 'Inga trafikstörningar.';
    },
    fromToLabel() {
      return this.arrivals ? 'Från' : 'Till';
    }
  },
  methods: {},
  template: `
    <div class="trips-table">
      <ul class="trips-table__filter" v-if="filteredTrips.length">
        <li>Filter:</li>
        <li>
          <select v-model="filter.dest">
            <option value="">{{ this.fromToLabel }}</option>
            <option v-for="dest in destinations" :key="dest" :value="dest">{{ dest }}</option>
          </select>
        </li>
      </ul>
      <table>
        <thead>
          <tr>
            <th>Linje</th>
            <th>{{ this.fromToLabel }}</th>
            <th>Tid {{ filter.track }}</th>
            <th>Hpl</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="trip in filteredTrips" :key="trip.id" :class="{ 'trip--cancelled': trip.cancelled }">
            <td class="trip-line" :style="{ backgroundColor: trip.fgColor, color: trip.bgColor }">
              {{ trip.sname }}
            </td>
            <td class="trip-dest">
              <div>
                <span class="trip-dest-name">
                  {{ trip.direction || trip.origin }}
                </span>
                <span v-if="trip.isAffected">&nbsp;⛔️</span>
                <span v-if="trip.cancelled">&nbsp;⚠️ Färd inställd</span>
              </div>
              <div class="trip-dest-via"><small v-if="trip.via"> via {{ trip.via }}</small></div>
            </td>
            <td class="trip-time" :class="{ 'is-late': trip.isLate }">{{ trip.rtTime || trip.time }}</td>
            <td class="trip-track">{{ trip.track }}</td>
          </tr>
          <tr v-show="isLoading">
            <td colspan="4">
              Hämtar {{ this.arrivals ? 'ankomster' : 'avgångar' }}...
              <i class="fa fa-spin fa-spinner" aria-hidden="true"></i>
            </td>
          </tr>
          <tr v-show="!isLoading && from && trips.length === 0">
            <td colspan="4">Inga resor att visa</td>
          </tr>
        </tbody>
        <tfoot v-if="from">
          <tr>
            <td colspan="4"><p>{{ this.message }}</p></td>
          </tr>
        </tfoot>
      </table>
    </div>
  `
});

Vue.component('location-input', {
  props: {
    label: String,
    disabled: Boolean,
    parentLoading: Boolean,
    displayNearbyStops: {
      type: Boolean,
      default: false
    },
    locationApi: {
      type: String,
      validator(value) {
        return Object.prototype.hasOwnProperty.call(window[value], 'findStops') &&
          Object.prototype.hasOwnProperty.call(window[value], 'getClosestStop') &&
          Object.prototype.hasOwnProperty.call(window[value], 'getClosestStops') &&
          typeof window[value].findStops === 'function' &&
          typeof window[value].getClosestStop === 'function' &&
          typeof window[value].getClosestStops === 'function';
      }
    }
  },
  data() {
    return {
      show: false,
      isFetching: false,
      fetchingNearbyStops: this.displayNearbyStops,
      searchText: '',
      suggestions: [],
      nearbyStations: []
    };
  },
  computed: {
    isLoading() {
      return this.isFetching || this.parentLoading;
    },
    hasSuggestions() {
      return this.suggestions.length || this.nearbyStations.length;
    }
  },
  created() {
    this.debouncedGetSuggestions = debounce(this.getSuggestions, 350, this);
    if (!this.displayNearbyStops) return;
    positionPromise
      .then(window[this.locationApi].getClosestStops)
      .then((stations) => {
        this.nearbyStations = stations;
        this.fetchingNearbyStops = false;
      })
      .catch((reason) => {
        console.error(reason);
        this.fetchingNearbyStops = false;
      });
  },
  methods: {
    onInput({ target: { value } }) {
      if (!value) {
        this.suggestions = [];
      } else {
        this.isFetching = true;
        this.debouncedGetSuggestions(value);
      }
    },
    getSuggestions(value) {
      return window[this.locationApi].findStops(value)
        .then((stops) => {
          this.isFetching = false;
          this.suggestions = [].concat(stops);
          this.showDropDown();
        });
    },
    findNearestStop() {
      this.isFetching = true;
      Promise.resolve(positionPromise)
        .then(window[this.locationApi].getClosestStop)
        .then((location) => {
          if (location) this.onSelect(location);
          this.show = false;
          this.isFetching = false;
          this.isLoading = false;
        });
    },
    onSelect(suggestion) {
      console.log('onSelect', suggestion);
      this.searchText = suggestion.name;
      this.$emit('set-location', suggestion);
      this.hideDropDown();
      this.getSuggestions(suggestion.name)
        .then(this.hideDropDown);
    },
    selectFirstSuggestion() {
      if (this.suggestions.length === 0) return;
      this.onSelect(this.suggestions[0]);
    },
    handleKeyInput(e) {
      const dict = {
        ArrowUp: 'previousElementSibling',
        ArrowDown: 'nextElementSibling'
      };
      const btnElement = 'button';

      const getSibling = (el) => el.parentElement[dict[e.key]];

      if (['ArrowDown', 'ArrowUp'].includes(e.key) && this.show && this.hasSuggestions) {
        const focused = this.$el.querySelector(`.location-input__suggestions ${btnElement}:focus`);
        if (focused) {
          const next = getSibling(focused);
          if (next) {
            next.querySelector(btnElement).focus();
          }
        } else {
          this.$el.querySelector(`.location-input__suggestions ${btnElement}`).focus();
        }
      }
    },
    showDropDown() {
      this.show = true;
    },
    hideDropDown() {
      this.show = false;
      document.activeElement.blur();
    },
    possiblyHideDropDown(e) {
      if (e.relatedTarget && this.$el.contains(e.relatedTarget)) return;
      this.hideDropDown();
    }
  },
  template: '#location-input'
});

Vue.component('station-info', {
  template: '#station-info',
  props: {
    arrivals: Boolean
  },
  data() {
    return {
      location: {},
      isLoading: false,
      initialized: false,
      trips: [],
      info: ''
    };
  },
  computed: {
    show() {
      return !!this.trips.length;
    },
    method() {
      return this.arrivals ?
        window[this.location.region].getArrivalsTo :
        window[this.location.region].getDeparturesFrom;
    }
  },
  created() {
    VT.init()
      .then(() => {
        this.initialized = true;
      });
  },
  watch: {
    arrivals(newVal, oldVal) {
      if (newVal !== oldVal) {
        this.trips = [];
        this.info = '';
        if (this.location.region) {
          this.getDepartures();
        }
      }
    }
  },
  methods: {
    setFrom(location) {
      console.log('set location', location);
      this.location = location || {};
      this.getDepartures();
      this.refreshDepartures();
    },
    refreshDepartures() {
      clearTimeout(this.lastTimeoutId);
      window.requestAnimationFrame(() => {
        this.lastTimeoutId = setTimeout(() => {
          this.getDepartures();
          this.refreshDepartures();
        }, 20000);
      });
    },
    getDepartures() {
      this.isLoading = true;
      this.method(this.location.id)
        .then((resp) => {
          this.trips = resp.map(getDestinationVia);
          console.log('this.trips', this.trips);
          this.isLoading = false;
        })
        .catch((reason) => {
          console.warn('reason', reason);
          this.isLoading = false;
        });
      window[this.location.region].getTrafficSituations('stoparea', this.location.id)
        .then((situations) => {
          this.info = situations;
        });
    }
  }
});

Vue.component('information-page', {
  template: `
    <section class="information-page">
      <div id="gdoc"></div>
      <a class="information-page__edit-link" href="https://docs.google.com/document/d/1TRE1P4EmB3kwlURit8lICniBtRp7aqnhcU8x7D6yzqI/edit#">Redigera</a>
    </section>
  `,
  data() {
    return {};
  },
  computed: {},
  created() {
    window.getTheGoogleStuffs();
  },
  methods: {}
});

const viaRegExp = /\s*via\s*/;
function getDestinationVia(departure) {
  if (viaRegExp.test(departure.direction)) {
    const [direction, via] = departure.direction.split(viaRegExp);
    return Object.assign({}, departure, {
      direction,
      via
    });
  }
  return departure;
}

// eslint-disable-next-line
new Vue({
  el: '#app',
  data: { tab: 2 },
  methods: {
    changeTab(tab) {
      this.tab = tab;
    }
  }
});

function debounce(fn, delay, context) {
  let timeoutId;
  context = context || this;
  return (...args) => {
    if (timeoutId) clearTimeout(timeoutId);
    timeoutId = setTimeout(() => fn.apply(context, args), delay);
  };
}

function getPosition() {
  return new Promise((resolve, reject) => {
    if (!('geolocation' in navigator)) {
      reject();
    } else {
      navigator.geolocation.getCurrentPosition(resolve, reject);
    }
  });
}

function sortNumbersAndLetters(a, b) {
  const ac = Number(a) || a.charCodeAt(0);
  const bc = Number(b) || b.charCodeAt(0);
  if (ac < bc) return -1;
  if (ac > bc) return 1;
  return 0;
}
</script>
<script>
// if ('serviceWorker' in navigator && window.location.hostname !== 'localhost') {
//   window.addEventListener('load', () => {
//     navigator.serviceWorker.register('sw.js')
//       .then((registration) => {
//         console.log('ServiceWorker registration successful with scope: ', registration.scope);
//       }, (err) => {
//         console.log('ServiceWorker registration failed: ', err);
//       });
//   });
// }
</script>
<script src="js/googleDriveAPI.js"></script>
<script async defer src="https://apis.google.com/js/api.js"
  onload="this.onload=function(){};handleClientLoad()"
  onreadystatechange="if (this.readyState === 'complete') this.onload()">
</script>
</body>
</html>
